:root {
    --bg-color: #0F1216;
    --repo-txt-color: #469BFA;
    --info-txt-color: #C1CBD3;
    --success-color: #007B34;
    --secondary-bg-color: #1E2228;
    --seoncdary-txt-color: #8b949e;
    --color-primer-border-contrast: rgba(255,255,255,0.2);
}

*,
body {
    background-color: var(--bg-color);
    color: var(--info-txt-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100%;
}

.search-bar {
    background-color: var(--secondary-bg-color);
    border-color: var(--color-primer-border-contrast);
}

.secondary-nav {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid var(--color-primer-border-contrast);
    position: sticky;

    .secondary-nav-buttons  a {
        color: var(--info-txt-color);
    }
}

.repo-wrapper {
    .repo-name {
        text-decoration: none;
        font-size: 20px;
        font-weight: bolder;
        color: var(--repo-txt-color);
    }

    .repo-item {
        border-bottom: 1px solid var(--color-primer-border-contrast);
    }

    .repo-language-color {
        position: relative;
        top: 1px;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid var(--color-primer-border-contrast);
        border-radius: 50%;
    }

    .repo-language {
        color: var(--seoncdary-txt-color);
    }

    .repo-info {
        font-size: 12px;
    }
}



.repo-nav {

    .search-bar {
        width: 100%;
    }
    
    .repo-nav-btn {
        color: #C1CBD3;
        background-color: #21262d;
        border: 1px solid var(--color-primer-border-contrast);
        box-shadow: inset;
        margin: 0 0.2rem;
        transition: all 0.2s ease-in-out;
    }

    .repo-nav-btn:hover {
        border-color: white;

    }

    .new-btn {
        margin-left: 1rem;
        color:#C1CBD3;
        background-color: var(--success-color);
        border: 1px solid var(--color-primer-border-contrast);
    }
}


.profile-img {
    position: relative;
    display: inline-block;
    line-height: 1;
    width: 100%;
    height: auto;
    border: 1px solid var(--color-primer-border-contrast);
    border-radius: 50%;
    overflow: hidden;

    img {
        object-fit: cover;

    }

}


.usr-name {
    padding: 0.5rem 0;
    font-size: 1.5rem;
}

.follow-wrapper {
    font-size: 14px;
    margin-top: 1rem;
}

.follow-btn {
    width: 100%;
}



.text-right {
    button {
        color: var(--info-txt-color);
        float: right;
        border: 1px solid var(--color-primer-border-contrast);
    }

    button:hover {
        background-color: var(--info-txt-color);
        color: var(--secondary-bg-color);

        i {
            background-color: var(--info-txt-color);
            color: var(--secondary-bg-color);
        }
    }
}